body{
margin:0;
padding:0;
}

ul{
list-style-type: none;
text-align: right;
margin: 10px;
}
div{
  background-repeat: no-repeat;
  background-position: 400px 0;
}
li{
display: inline-block;
padding-right: 5px;
padding-left: 5px;
padding-top: 15px;
}
h1, h2, h3, h4,
p{
    color:#666;
}
.clar{
}
a:hover{
  color: blue;
}
a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
h2{
  font-family: Helvetica,Arial, sans-serif;
  width: 400px;
  padding:40px;
  font-size:40px;
}
p{
  width: 400px;
  padding:0 40px;
  font-size: 25px;
}
#cabecera{
height: 40px;
background-image: url("img/feedly-logo-small-black.png");
background-repeat:no-repeat;
background-position:20px 5px;
}
#coneix{
height: 550px;
background-color: #6C3;
background-image: url("img/img-hero-full-list.png");
}
#tot{
height: 641px;
background-color: #FFF;
background-image: url("img/allinone.jpg");
}
#util{
  height: 500px;
  background-color: #FFF;
  background-image: url("img/curator-short.png");
}
#rapid{
  height: 550px;
  background-color: #333;
  background-image: url("img/img-hero-full-list.png");
}
#facil{
  height:550px;
  background-color: #EEECEE;
  background-image: url("img/mobile-share.png");
}
#atot{
  height:643px;
  background-color: #EEECEE;
  background-image: url("img/anywhere.png");
}
#pie a{
padding-right: 20px;
}
.boton{
  height:200px;
  width: 200px;
  background-color: rgba(255, 10, 34, 0,5);
  position: fixed;
  bottom: 20px;
  right: auto;
  border-radius: 50%;
  text-align: center;
}
